

<!--<div class="marquee">-->
    <!--<div  [@myTrigger]="state">-->
    <!--<oil-price-list></oil-price-list>-->
    <!--</div>

    <br/>

    <button (click)="myAnimation()">Animate</button>-->

    <!--<br/>-->

    <!--<my-carousel></my-carousel>-->

    <stock-price-list></stock-price-list>

    <!--<test></test>-->

    <!--<oil-price-composite></oil-price-composite>
-->
<!--</div>-->

<!--<br>

<div class="marquee">
    <div>
        <p>
            <span>You spin me right round, baby. Like a record, baby.</span>
            <span>You spin me right round, baby. Like a record, baby.</span>
        </p>        
        <p>
            <span>You spin me right round, baby. Like a record, baby.</span>
            <span>You spin me right round, baby. Like a record, baby.</span>
        </p>
    </div>
</div>-->