    
    <!--<div *ngFor="let s of stockPrices">
            <p>Symbol: {{s.symbol}}</p>
            <p>Name: {{s.name}}</p>
            <p>Last Price: {{s.lastPrice}}</p>
    </div>-->

    <!--<p>StockPriceLength: {{stockPrice.length}}</p>
    <p>StockHistoryLength: {{stockHistory.length}}</p>-->

    <!--<div *ngFor="let hr of stockHistoryReversed">
            <span>{{hr}},</span>
    </div>-->

    <!--<div *ngFor="let h of stockHistory">
            <p>{{h.tradingDay}}: {{h.close}}</p>
    </div>

    <div>
        <p>Length: {{stockHistoryLength}}</p>
    </div>
-->
    <!--<div *ngFor="let op of oilPrices">
        <p>{{op.name}}</p>
        <p>{{op.price}}</p>
        <p>{{op.history.toString()}}</p>
    </div>-->

    <div width="780px" height="90px" style="background-color:#333333;" >
        <carousel  width="780px" height="90px" [interval]="myInterval" [noWrap]="noWrapSlides">
            <slide [active]="active">
                    <p style="text-align:center;">
                        <span *ngFor="let op of oilPrices; let index=index">
                            <span *ngIf="(index<3)">
                                <stock-price [oilPrice]=oilPrices[index]></stock-price>
                            </span>
                        </span>
                    </p>
            </slide>
            <slide>
                    <p style="text-align:center;">
                        <span *ngFor="let op of oilPrices; let index=index">
                            <span *ngIf="(index>=3 && index<6)">
                                <stock-price [oilPrice]=oilPrices[index]></stock-price>
                            </span>
                        </span>
                    </p>
            </slide>
            <slide>
                    <p style="text-align:center;">
                        <span *ngFor="let op of oilPrices; let index=index">
                            <span *ngIf="(index>=6 && index<9)">
                                <stock-price [oilPrice]=oilPrices[index]></stock-price>
                            </span>
                        </span>
                    </p>
            </slide>

        </carousel>
    </div>


    <h2>First Slide</h2>
    <span *ngFor="let op of oilPrices; let index=index">
        <span *ngIf="(index<3)">
            <stock-price [oilPrice]=oilPrices[index]></stock-price>
        </span>
    </span>

    <h2>Second Slide</h2>
    <span *ngFor="let op of oilPrices; let index=index">
        <span *ngIf="(index>=3 && index<6)">
        <stock-price [oilPrice]=oilPrices[index]></stock-price>
        </span>
    </span>

    <h2>Third Slide</h2>
    <span *ngFor="let op of oilPrices; let index=index">
        <span *ngIf="(index>=6 && index<9)">
        <stock-price [oilPrice]=oilPrices[index]></stock-price>
        </span>
    </span>

    <!--<div *ngFor="let opg of oilPriceGroups; let index=index">
        <h3>Group {{index}}</h3>
            <div *ngFor="let op of opg; let i2=index">
                <h2>Item {{i2}}</h2>
       
            <stock-price [oilPrice]=oilPrices[(index*3)+0]></stock-price>
            <stock-price [oilPrice]=oilPrices[(index*3)+1]></stock-price>
            <stock-price [oilPrice]=oilPrices[(index*3)+2]></stock-price>
        </div>
    </div>-->

    <!--<p>{{oilPrices[0].name}}</p>-->






